.calendar {
    border-collapse: collapse;
}

.calendar table {
    width: 100%;
}

.calendar th,
.calendar td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.calendar th {
    background-color: #f2f2f2;
}

/* .slot {
    position: relative;
}

.slot form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.slot:hover form {
    display: block;
} */
